:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif,'VALORANT';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: #DF9098;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  


  
  body {
    margin: 0;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: #ddbea9;
  }
  
h1{
    background-color:#cb997e;
    border-radius: 25px;
}


  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  .ReponseList{ 
    display: flex;
    flex-direction: row;
    margin: 5rem;
  }
  
  .InputList { 
    width: 25vw;
    background-color:#ffe8d6;
    padding: 3rem;
    height: 100%;
  }
  

  img {
    width: 500px
  }
  
  li {
    font-size: 1.8rem;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  .api-reponse { 
    flex-wrap: wrap;
    width: 80vw;
    padding: 3rem;
    margin: 1rem auto;
    align-items: center;
    height: 80vh;
  }

#form:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
  background-color: var(--black);
  color: var(--white);
}

#form{
background-color: #cb997e;
border-radius: 25px;
padding: 3rem;
}